.lb-header {
  background: url(longbeach-skyline.png) no-repeat center center; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  color: #fff;
  padding: 5px 10px 20px;
  margin-bottom: 20px;
}

.lb-subhead {
  font-weight: normal;
  font-size: 80%;
}

.divider {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: thin solid gray;
}

.lbr-name {
    color: #39c;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.lbr-price {
    font-family: Muli,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 32px;
}

.lbr-category {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.lbr-calories {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ccc;
    margin: 0 0 -12px 20px;
}

.lbr-item-image img{
    margin: 10px auto;
    overflow: none;
}

.lbr-description {
    font-family: 'Allura', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    padding:10px 15px;
}

.flash {
  font-size: 14px;
  color: #999;
  text-align: center;
  padding: 10px;
}

.width-sm {
  width: 80px;
}

#map {
  width: 100%;
  height: 280px;
  margin-top: 80px;
  margin-bottom: -100px;
}

#footer {
  width: 100%;
  padding: 10px;
  margin-top: 100px;
  background: #045;
  text-align: right;
  color: #fff;
  font-weight: 400;
}

#persona-btn {
    position: absolute;
    top: 60px;
    right: 5px;
    cursor: pointer;
}

#persona-btn img {
    height: 36px;
    width: auto;
}