{% extends "shared_layout.html" %}
{% block body %}
  <!-- Subtitle -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <h2><i class="fa fa-trash"></i>&nbsp;{{restaurant.name}}: <span class="lb-subhead">Delete Restaurant</span></h2>
      </div>
      <div class="text-right">
        <form action="{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}" method = 'post'>
          <a class="btn btn-default" href="{{url_for('showRestaurants')}}">Cancel</a>
          {% if session.email %}  
          <button type="submit" class="btn btn-danger">Delete</button>
          {% endif %}
        </form>
      </div>
    </div><!-- End Col -->
  </div><!-- End Subtitle Row -->
{% endblock %}
