{% extends "shared_layout.html" %}
{% block body %}
  <!-- Subtitle -->
  <div class="row">
    <div class="text-center">
      <h2><i class="fa fa-pencil"></i>&nbsp;{{item.name}}: <span class="lb-subhead">Edit Menu Item</span></h2>
    </div>
    <div class="col-md-6 col-md-offset-3">
    {% if session.email %}  
      <form action="{{url_for('editMenuItem', restaurant_id = item.restaurant_id, menu_id = item.id)}}" method = 'POST'>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type='text' name='name' class="form-control" value='{{item.name}}' placeholder="Item Name">
        </div>
        <div class="form-group">
            <label for="course">Course:</label>
            <input type='text' name='course' class="form-control" value='{{item.course}}' placeholder="Course">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name='description' class="form-control" placeholder="Description">{{item.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type='text' name='price' class="form-control" value='{{item.price}}' placeholder="Price">
        </div>
        <div class="form-group">
            <label for="calories">Calories:</label>
            <input type='number' min='0' max='8888' name='calories' class="form-control" value='{{item.calories}}' placeholder="Calories">
        </div>
        <div class="form-group">
            <label for="image_url">Image URL:</label>
            <input type='url' name='image_url' class="form-control" value='{{item.image_url}}' placeholder="image url">
        </div>
        <div class="text-right">
          <a class="btn btn-default" href="{{url_for('restaurantMenu', restaurant_id = item.restaurant_id)}}">Cancel</a>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    {% else %}
    <p>Sign in to make changes.</p>
    {% endif %}
    </div><!-- End Col -->
  </div><!-- End Row -->
{% endblock %}
